# Introduction
This week we continue our discussion of flow control by looking at the concept of loops in Python. While conditionals allowed us to change what Python does based on the truth value of an expression, loops will allow us to apply the same set of operations multiple times. This is one of the fundamental features of programming languages and one of the things that computers excel at (since they don't get bored)!

Readings for this week (which overlap with last week's content): 

* [Chapter 2 of Automate the Boring Stuff](https://automatetheboringstuff.com/2e/chapter2/)
* [Control Flow from A Byte of Python](https://python.swaroopch.com/control_flow.html)
* [Chapter 9 of Problem Solving in Python](https://problemsolvingwithpython.com/09-Loops/09.00-Introduction/)

The first type of loop we will consider is the for loop. Like the conditional statements from the previous notebook, for loops begin with a function, followed by an object to iterate over and a colon. The corresponding indendent statement is executed once for each pass through the loop and after each iteration the bound variable is incremented.

In [1]:
for i in range(10):
    print("Zoom!")

Zoom!
Zoom!
Zoom!
Zoom!
Zoom!
Zoom!
Zoom!
Zoom!
Zoom!
Zoom!

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
a = 0
for i in range(10):
    a = a + i
print(a)

45

In [4]:
a = 0
for i in range(10):
    b = 2
    a = a + b
    
print(a)

20

In [5]:
empty_list = []

for i in range(10):
    empty_list.append(i)
print(empty_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
another_list = [0]

for goldfish in range(7):
    another_list.append(another_list[goldfish]+2*goldfish+1)
print(another_list)

[0, 1, 4, 9, 16, 25, 36, 49]

In [7]:
goldfish

6

In [8]:
Fibonacci_list = [1,1]

for z in range(5):
    Fibonacci_list.append(Fibonacci_list[-1]+Fibonacci_list[-2])

In [9]:
my_list = [12, 13, 45, 98, 64]
new_list = []

for index in range(len(my_list)):
    new_list.append(my_list[index] + 1)
    
newer_list = []

for number in my_list:
    newer_list.append(number + 1)

print(new_list)
print(newer_list)

[13, 14, 46, 99, 65]
[13, 14, 46, 99, 65]

In [10]:
for i in range(5):
    for j in range(3):
        print((i,j))

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(4, 0)
(4, 1)
(4, 2)

In [11]:
list_of_lists = []

for i in range(4):
    list_of_lists.append([])
    for j in range(4):
        list_of_lists[i].append(i+j)
print(list_of_lists)

[[0, 1, 2, 3], [1, 2, 3, 4], [2, 3, 4, 5], [3, 4, 5, 6]]

In [12]:
value = 0

for i in range(5):
    value = value * i
    for j in range(3):
        value = value + j

print(value)

195

In [13]:
for i in range(10):
    if i%2 == 0:
        print(f"{i} is an odd number")
    else:
        print(f"{i} is an even number")

0 is an odd number
1 is an even number
2 is an odd number
3 is an even number
4 is an odd number
5 is an even number
6 is an odd number
7 is an even number
8 is an odd number
9 is an even number

In [14]:
some_numbers = [10,12, -4, 24, -100,-240, 36]

total_sum = 0

positive_sum = 0

for number in some_numbers: 
    total_sum += number
    
    if number > 0:
        positive_sum += number

print(f"The sum of all the numbers is {total_sum} and the sum of the positive numbers is {positive_sum}.")

The sum of all the numbers is -262 and the sum of the positive numbers is 82.

When we have worked with pandas dataframes so far, we haven't needed loops to interact with each row of a dataset. This is a concept called vectorization, and it is one reason to prefer to work with packages and data structures specifically designed to hold numerical data columns. Using the for-loop syntax above, we could try to iterate over the rows of a dataframe and perform some operation but the methods directly associated to the dataframe will almost always be more efficient.

In [15]:
import pandas as pd
College_Rankings = pd.read_csv('../Week7_Plotting2/Data/College_Rankings.csv')

In [16]:
for i in range(len(College_Rankings)):
    if College_Rankings.iloc[i]["State"]=="WA":
        print(College_Rankings.iloc[i])

Rank                                    44
Name          Whitman College, Walla Walla
State                                   WA
Type                          Liberal Arts
Admit                                   41
Grad4                                   82
Cost                                 59102
NeedAid                              28484
NonNeedAid                            9104
NNApercent                              55
GradDebt                             19147
Salary                               43000
Year                                  2019
Name: 43, dtype: object
Rank                                        105
Name          University of Washington, Seattle
State                                        WA
Type                                     Public
Admit                                        55
Grad4                                        61
Cost                                      46659
NeedAid                                   15000
NonNeedAid                                 5500
NNApercent                                    5
GradDebt                                  21532
Salary                                    52100
Year                                       2019
Name: 104, dtype: object
Rank                                  147
Name          Gonzaga University, Spokane
State                                  WA
Type                              Private
Admit                                  68
Grad4                                  73
Cost                                49917
NeedAid                             19305
NonNeedAid                          12083
NNApercent                             87
GradDebt                            29513
Salary                              52800
Year                                 2019
Name: 146, dtype: object
Rank                                    226
Name          Whitworth University, Spokane
State                                    WA
Type                                Private
Admit                                    75
Grad4                                    65
Cost                                  50698
NeedAid                               22974
NonNeedAid                            16897
NNApercent                               78
GradDebt                              26132
Salary                                41200
Year                                   2019
Name: 225, dtype: object
Rank                                        252
Name          University of Puget Sound, Tacoma
State                                        WA
Type                               Liberal Arts
Admit                                        79
Grad4                                        68
Cost                                      57220
NeedAid                                   23410
NonNeedAid                                14886
NNApercent                                   93
GradDebt                                  27776
Salary                                    51500
Year                                       2019
Name: 251, dtype: object
Rank                                                264
Name          Western Washington University, Bellingham
State                                                WA
Type                                             Public
Admit                                                85
Grad4                                                40
Cost                                              32421
NeedAid                                            9063
NonNeedAid                                         2020
NNApercent                                            3
GradDebt                                          21520
Salary                                            43200
Year                                               2019
Name: 263, dtype: object
Rank                                          269
Name          Seattle Pacific University, Seattle
State                                          WA
Type                                      Private
Admit                                          83
Grad4                                          60
Cost                                        48480
NeedAid                                     25947
NonNeedAid                                  20277
NNApercent                                     66
GradDebt                                    28844
Salary                                      43900
Year                                         2019
Name: 268, dtype: object
Rank                                    44
Name          Whitman College, Walla Walla
State                                   WA
Type                          Liberal Arts
Admit                                   39
Grad4                                   82
Cost                                 59745
NeedAid                              28446
NonNeedAid                            9104
NNApercent                              55
GradDebt                             19053
Salary                               42080
Year                                  2021
Name: 343, dtype: object
Rank                                        105
Name          University of Washington, Seattle
State                                        WA
Type                                     Public
Admit                                        56
Grad4                                        60
Cost                                      46295
NeedAid                                   14956
NonNeedAid                                 5500
NNApercent                                    5
GradDebt                                  21308
Salary                                    52997
Year                                       2021
Name: 404, dtype: object
Rank                                  147
Name          Gonzaga University, Spokane
State                                  WA
Type                              Private
Admit                                  69
Grad4                                  70
Cost                                49231
NeedAid                             19336
NonNeedAid                          12083
NNApercent                             87
GradDebt                            29846
Salary                              53763
Year                                 2020
Name: 446, dtype: object
Rank                                    226
Name          Whitworth University, Spokane
State                                    WA
Type                                Private
Admit                                    74
Grad4                                    68
Cost                                  50869
NeedAid                               22990
NonNeedAid                            16897
NNApercent                               78
GradDebt                              25641
Salary                                41177
Year                                   2021
Name: 525, dtype: object
Rank                                        252
Name          University of Puget Sound, Tacoma
State                                        WA
Type                               Liberal Arts
Admit                                        77
Grad4                                        66
Cost                                      57760
NeedAid                                   23451
NonNeedAid                                14886
NNApercent                                   93
GradDebt                                  28192
Salary                                    51179
Year                                       2020
Name: 551, dtype: object
Rank                                                264
Name          Western Washington University, Bellingham
State                                                WA
Type                                             Public
Admit                                                83
Grad4                                                41
Cost                                              33133
NeedAid                                            9102
NonNeedAid                                         2020
NNApercent                                            3
GradDebt                                          22229
Salary                                            42888
Year                                               2020
Name: 563, dtype: object
Rank                                          269
Name          Seattle Pacific University, Seattle
State                                          WA
Type                                      Private
Admit                                          83
Grad4                                          61
Cost                                        48577
NeedAid                                     26023
NonNeedAid                                  20277
NNApercent                                     66
GradDebt                                    29536
Salary                                      43867
Year                                         2020
Name: 568, dtype: object

The other type of loop we are going to discuss in this notebook is the `while` loop. These loops don't have a fixed variable to increment but instead continue executing their code block until a Boolean condition is met. These loops can be useful when we don't know exactly how many iterations we might need to achieve a desired result.

In [17]:
a = -5

while a <0:
    a = a +1
    print(a)

-4
-3
-2
-1
0

In [3]:
check = False
counter = 0
while check == False:
    print("Do you like bunnies?")
    answer = input()
    counter += 1
    
    if answer == "Yes":
        check = True
        
print("\nYou passed!")
print(f"and it only took you {counter} tries!")

Do you like bunnies?
yes
Do you like bunnies?
sometimes
Do you like bunnies?
not today
Do you like bunnies?
no
Do you like bunnies?
yes
Do you like bunnies?
Yes

You passed!
and it only took you 6 tries!